body{
    background-color: gray;
}
/* Main page character style */
#center-div{
    width: 80%;
    margin-left: 10%;

    background-color: white;
}
.char{
    background-color: white;
    width: 50%;
    height: 50%;
    float:left;
}
.charImg {
    float: left;
    border-radius: 50%;
    width: 25%;
    height: 25%;
}
.name{
    margin-left: 35%;
}
.stats{
    margin-left: 35%;
}
.icon{
    width: 5%;
    height: 5%;
}
.show{
    float: right;
    text-decoration: none;
    color: black;
}

/* Header */
header{
    background-color: white;
    width: 80%;
    margin-left: 10%;
    margin-bottom: 1%;
    text-align: center;

    padding-top: 0.1em;
    padding-bottom: 0.1em;
}

/* Footer */

footer{
    text-align: center;   
    background-color: white;
    
    width: 80%;
    margin-left: 10%;
    margin-top: 10px;
    padding: 0.02px 0 0.02px 0;
}

/* character.php style */
header a{
    position: absolute;
    top: 5%;
    right: 12.5%;
    text-decoration: none;
    color: black;
}

#charStats{
    border: black 2px solid;
    width: 300px;
}
.itemTile{
    font-size: 1.1em;
}
#bio{
    display: inline-block;
    width: 60%;
    margin: 1% 1% 1% 1%;
}
/* Character creator style */
.iconSmall{
    width: 2%;
    height: 2%;
}